.user-default-avatar {
    width: 50px;
    height: 50px;
    background: url(../images/default_avatar.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.user-profile-avatar {
    width: 200px;
    height: 200px;
}
/* Widget AuthIdentityChoice */
/* ===================================================== */
.auth-item {
    position: relative;
}
.auth-item:not(:first-child) {
    margin-left: 20px;
}
.auth-item .auth-icon {
    opacity: 0.2;
    transition: all .3s;
}
.auth-item .auth-icon:hover, .auth-item .auth-icon:focus {
    opacity: 0.7;
}
.active .auth-icon {
    opacity: 1;
    cursor: default;
}
.auth-remove::after {
    content: "\00D7";
}
.auth-remove {
    display: none;
    position: absolute;
    top: -7px;
    right: -7px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 500px;
    background: #fff;
    color: #999;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    transition: all .2s;
}
.active .auth-remove {
    display: inline-flex;
}
.auth-remove:hover, .auth-remove:focus {
    transform: scale(1.3);
}